<h1>{{name}}</h1>
<dl>
  <dt>Nombre:</dt>
  <dd>{{name}}</dd>

  <dt>Edad:</dt>
  <dd>{{age}}</dd>

  <dt>Metodo:</dt>
  <dd>{{ getHeroDescription() }}</dd>

  <dt>Capitalizado:</dt>
  <dd>{{capitalizedName}}</dd>
</dl>
<button *ngIf="name !== 'spiderman'" (click)="changeName()" class="btn btn-primary mx-2">
  Cambiar Nombre
</button>
<button *ngIf="age !== 25" (click)="changeAge()" class="btn btn-primary">
  Cambiar Edad
</button>
<button *ngIf="reset" (click)="resetValues()" class="btn btn-primary mx-2">
  Reset
</button>
